.container {
    font-family: 'Gemunu Libre', sans-serif;;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 85vh;

    &__calculator {
        -webkit-box-shadow: 2px 1px 11px 0px rgba(0,0,0,0.83); 
        box-shadow: 2px 1px 11px 0px rgba(0,0,0,0.83);
        width: 18rem;
        height: 35rem;
        border-radius: 35px;
        overflow: scroll;
    }

    &__history--items {
        color: $white-color;
        font-size: 2em;
        font-weight: 200;
        margin: 0.5em;
        overflow: scroll;
        padding-top: 10px;
        overflow: scroll;
    }

    &__history {
        background: linear-gradient(188deg, rgba(34,193,195,1) 0%, rgba(230,124,89,1) 100%);        width: 100%;
        height: 25%;
        display: grid;
        justify-content: flex-end;
        align-items: flex-end;
        overflow: scroll;
        padding-top: 10px;
    }

    &__result {
        height: 15%;
        background: $white-color;
        display: grid;
        justify-content: flex-end;
        align-items: center;
    }

    &__result--item {
        color: $blue-color;
        font-size: 2.5em;
        margin: 0.2em 0.5em;
        font-weight: 700;
    }

    &__button {
        border: 2px solid $grey-color;
        padding: 0.4rem;
        margin: 0 0.5rem;
        font-size: 1rem;
        background-color: $grey-color;
        color: $black-color;
        font-weight: 700;
        display: inline-block;
        vertical-align: middle;
        border-radius: 50%;
        width: 3rem;
        height: 3rem;
        text-align: center;

        &:hover {
            border: 1px solid $white-color;
            color: $red-color;
            background-color: $white-color;
            cursor: pointer;
            -webkit-transition: background-color 0.5s ease-out;
            -moz-transition: background-color 0.5s ease-out;
            -o-transition: background-color 0.5s ease-out;
            transition: background-color 0.5s ease-out;
        }

        &--back {
            font-size: 1.5rem;
            vertical-align: middle;
            font-weight: 700;
            text-align: center;
        }
    }

    &__keyboard {
        height: 60%;
        background: $white-color;
        display: grid;
        grid-template-columns: 1fr 4.2rem;
    }

    &__functions-one {
        height: 20%;
        background: $grey-color;
        display: flex;
        align-items: center;
        justify-content: center; 
        text-align: center;
        vertical-align: middle;   
    }
    
    &__keyboard-number {
        background-color: $white-color;
    }

    &__keyboard-set {
        display: flex;
        align-items: center;
        justify-content: center; 
        text-align: center;
        vertical-align: middle;
        margin: 0.8em 0;

        &--bottom {
            background-color: $white-color;
            border: 2px solid $white-color;
        }

        &--bottom:hover {
            background-color: $grey-color;
            border: 2px solid $grey-color;
        }
    }

    &__functions-two {
        padding-top: 10px;
        height: 100%;
        background: $grey-color;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start; 
        text-align: center;
        vertical-align: middle; 
    }


    &__functions-two--set-one {
        margin-bottom: 1.3rem;
    }

    &__functions-two--set {
        margin-bottom: 0.8rem;
    }

    &__button--result {
        color: $white-color;
        background-color: $red-color;;
        width: 3.9rem;
        height: 3.9rem;

    }

}


